<mat-card>
  <img mat-card-image 
    src="{{character.image.url}}"
    alt="{{character.name}}"/>
  <mat-card-title>
  {{character.name}}
  <button mat-icon-button 
    (click)= "isFavorite() ? deleteFavorite() : saveCharacter() ">
    <mat-icon 
      aria-hidden="false" 
      [style.color] ="isFavorite() ? 'red' : ''"
      aria-label="Example home icon">
      favorite</mat-icon>
    
  </button>
  </mat-card-title> 
  <mat-card-footer>
    <button mat-raised-button (click)="openDialog()"
      fxFlex mat-flat-button color="primary"> 
        Details</button>
  </mat-card-footer>
</mat-card>