<div fxFlex fxLayuot = "coloumn">
  <div>
    <mat-card class="login-card">
      <mat-card-title>
        Log in!
      </mat-card-title>
      <mat-card-content>
        <p> Log in with email</p> 
        <form [formGroup] = "loginForm"
        (ngSubmit)="signIn()">
            <div class="alert-danger"
                *ngIf="email.invalid && 
                  (email.dirty || email-touched)">
                <div class="contanier-error-message"
                *ngIf="email.errors.required">
                  Email is required
                </div>
                <div class="contanier-error-message"
                *ngIf="email.errors.minlength">
                  Email could be at least 4 characters long
                </div>
                <div class="contanier-error-message"
                *ngIf="(email.dirty || email.touched) &&
                  email.invalid 
                  && email.errors.pattern">
                  Value has to be a valid email address.
                </div>
            </div>

        <mat-form-field class="example-full-width">
          <input matInput 
            formControlName = "email"
            placeholder="Email" 
          >
        </mat-form-field>

        <div class="alert-danger"
          *ngIf="password.invalid && 
            (password.dirty || password-touched)">
          <div class="contanier-error-message"
          *ngIf="password.errors.required">
            password is required
          </div>
          <div class="contanier-error-message"
          *ngIf="password.errors.minlength">
            password could be at least 4 characters long
          </div>
        </div>
        
        <mat-form-field class="example-full-width">
          <input matInput
            type="password"
            formControlName = "password"
             placeholder="Password" 
            >
        </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
          <button 
            mat-raised-button color="primary"
            (click)="signIn()" [disabled] = "!loginForm.valid">
            log in</button>
          <a  
            color="secundary"
            routerLink="/register"> Register</a>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
