.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .login-card {
    max-width: 500px; 
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .alert-danger{
    color: red;
    background: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 5px;
  }
  .container-error-message{
    padding: 3px;
  }