<div fxFlex fxLayuot = "coloumn">
  <div>
    <mat-card class="login-card">
      <mat-card-title>
        Log in!
      </mat-card-title>
      <mat-card-content>
        <p> Log in with email</p> 
        <form [formGroup] = "loginFrom">
        <mat-form-field class="example-full-width">
          <input matInput 
            formControlEmail = "email"
            placeholder="email" 
            #email>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput
            formControlEmail = "password"
            type="password"
             placeholder="password" 
             #password >
        </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
          <button 
            mat-raised-button color="primary"
            (click)="authService.signIn(email.value,password.value)">
            log in</button>
          <a  
            color="secundary"
            routerLink="/register"> Register</a>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
