
<div fxFlex fxLayuot = "coloumn">
    <div>
    
        <mat-form-field >
            <input matInput 
              placeholder="Search Hero"
              name="search"
              #seach
              >
            </mat-form-field>
            <button mat-raised-button 
            (click)="searchHero(seach.value)"
            color="primary"
            
            >Search</button>
          
    </div>
  <div fxLayout="row wrap">
    <div fxFlex="25" 
         fxFlex.md="33"
         fxFlex.sm="50" 
         fxFlex.xs="100"
         fxLayout="coloumn" 
         style="padding:5px;"
         *ngFor="let character of allCharacters | async">
        <app-character [character]="character"></app-character>
    </div>
  </div> 
</div>
