
<div fxFlex fxLayuot = "coloumn">
    <div >
    
        <mat-form-field class="full-width">
            <input class="search-field"
              matInput 
              placeholder="Search Hero"
              name="search"
              #seach    
              size="100%"
              >
            </mat-form-field>
            <button 
            mat-raised-button 
            (click)="searchHero(seach.value)"
            color="primary"
            >Search</button>
    </div>
    <div *ngIf="showSpiner">
      <mat-spinner class="spinner" 
      ></mat-spinner>

    </div>      
    <div fxLayout="row wrap">
    <div class="contents-charaters"
         fxFlex="25" 
         fxFlex.md="33"
         fxFlex.sm="50" 
         fxFlex.xs="100"
         fxLayout="coloumn" 
         *ngFor="let character of allCharacters | async">
        <app-character [character]="character"></app-character>
    </div>
  </div> 
</div>
