
<div fxFlex fxLayuot = "coloumn">
    <div >
      <div class="alert-danger"
          *ngIf="search.invalid && (search.dirty || search-touched)">
          <div class="contanier-error-message"
          *ngIf="search.errors.required">
            search can't be null
          </div>
          <div class="contanier-error-message"
          *ngIf="search.errors.minlength">
            search could be at least 4 characters long
          </div>
      </div>
      <mat-form-field 
      [formGroup] ="searchForm" 
      class="full-width"
      (ngSubmit)="seachHero()">
      <input
              matInput 
              placeholder="Search Hero"   
              size="100%"
              formControlName="search"
              required
              >
            </mat-form-field>
            <button 
            type="submit"
            mat-raised-button
            [disabled] = "!searchForm.valid" 
            (click)="searchHero()"
            color="primary"
            
            >Search</button>
          </div >
    <div *ngIf="showSpiner">
      <mat-spinner class="spinner" 
      ></mat-spinner>

    </div>      
    <div fxLayout="row wrap">
    <div class="contents-charaters"
         fxFlex="25" 
         fxFlex.md="33"
         fxFlex.sm="50" 
         fxFlex.xs="100"
         fxLayout="coloumn" 
         *ngFor="let character of allCharacters | async;">
        <app-character [character]="character"></app-character>
    </div>
  </div> 
</div>
