.full-width {
    padding: 5px;
    width: 90%; 
  }

.contents-charaters {
    padding: 5px;
  }
.spinner{
  position:fixed;
  display: flex;
  margin: auto;
  z-index:99;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.alert-danger{
  color: red;
  background: #f8d7da;
  border-color: #f5c6cb;
  margin-bottom: 5px;
}
.container-error-message{
  padding: 3px;
}